Repository Yo-ru/gulag-web, pull requests merged in 2021-02, with the labels that each got.

#36 Fix SS total count on profiles
  blueprints/api.py
  templates/profile.html
Labels: api-related, bug, frontend-related

#47 Developer Branch - Master Branch
  blueprints/api.py
  blueprints/frontend.py
  ext/config.sample.py
  static/css/pages/docs.css
  static/css/pages/profile.css
  static/css/pages/settings/style.css
  static/css/style.css
  static/js/pages/profile.js
  templates/docs.html
  templates/settings/avatar.html
  templates/settings/base.html
  templates/settings/home.html
  templates/settings/password.html
  templates/settings/profile.html
  templates/settings/sidebar.html
Labels: enhancement, frontend-related

#49 fix X/XH in recent plays
  templates/admin/home.html
  templates/profile.html
Labels: bug, enhancement, frontend-related, help wanted
